@import '/src/assets/colors.scss';

.button {
    background-color: $base-color;
    color: white;
    border: $base-color;
    border-radius: 5px;
    padding: 20px 10px;
    font-size: 24px;
    width: 400px;
    height: 90px;

    &:disabled {
        background-color: $border-dark;
        color: $background;
        
        &:hover {
            border: $base-color;
            cursor: not-allowed;
        }
    }
}